In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/DiamondPrices.csv')

In [ ]:
data

,sn,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [ ]:
data1=data[:10000]

In [ ]:
data1

,sn,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,1.00,Very Good,E,SI2,63.5,56.0,4704,6.38,6.31,4.03
9996,9997,1.00,Premium,E,SI2,61.4,61.0,4704,6.41,6.36,3.92
9997,9998,1.00,Premium,E,SI2,61.1,58.0,4704,6.48,6.44,3.95
9998,9999,1.00,Premium,D,SI1,62.0,58.0,4704,6.41,6.29,3.94
9999,10000,1.00,Fair,D,SI1,64.9,59.0,4704,6.20,6.13,4.00

In [ ]:
data1['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [ ]:
data1['cut']=data1['cut'].map({'Ideal':0,'Premium':1,'Good':2,'Very Good':3,'Fair':4})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1

         sn  carat  cut color clarity  depth  table  price     x     y     z
0         1   0.23    0     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1         2   0.21    1     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2         3   0.23    2     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3         4   0.29    1     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4         5   0.31    2     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...     ...    ...  ...   ...     ...    ...    ...    ...   ...   ...   ...
9995   9996   1.00    3     E     SI2   63.5   56.0   4704  6.38  6.31  4.03
9996   9997   1.00    1     E     SI2   61.4   61.0   4704  6.41  6.36  3.92
9997   9998   1.00    1     E     SI2   61.1   58.0   4704  6.48  6.44  3.95
9998   9999   1.00    1     D     SI1   62.0   58.0   4704  6.41  6.29  3.94
9999  10000   1.00    4     D     SI1   64.9   59.0   4704  6.20  6.13  4.00

[10000 rows x 11 columns]

In [ ]:
data1['color'].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [ ]:
data1['color']=data1['color'].map({'E':0,'I':1,'J':2,'H':3,'F':4,'G':5,'D':6})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1

         sn  carat  cut  color clarity  depth  table  price     x     y     z
0         1   0.23    0      0     SI2   61.5   55.0    326  3.95  3.98  2.43
1         2   0.21    1      0     SI1   59.8   61.0    326  3.89  3.84  2.31
2         3   0.23    2      0     VS1   56.9   65.0    327  4.05  4.07  2.31
3         4   0.29    1      1     VS2   62.4   58.0    334  4.20  4.23  2.63
4         5   0.31    2      2     SI2   63.3   58.0    335  4.34  4.35  2.75
...     ...    ...  ...    ...     ...    ...    ...    ...   ...   ...   ...
9995   9996   1.00    3      0     SI2   63.5   56.0   4704  6.38  6.31  4.03
9996   9997   1.00    1      0     SI2   61.4   61.0   4704  6.41  6.36  3.92
9997   9998   1.00    1      0     SI2   61.1   58.0   4704  6.48  6.44  3.95
9998   9999   1.00    1      6     SI1   62.0   58.0   4704  6.41  6.29  3.94
9999  10000   1.00    4      6     SI1   64.9   59.0   4704  6.20  6.13  4.00

[10000 rows x 11 columns]

In [ ]:
data1['clarity'].unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [ ]:
data1['clarity']=data1['clarity'].map({'SI2':0,'SI1':1,'VS1':2,'VS2':3,'VVS2':4,'VVS1':5,'I1':6,'IF':7})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1

         sn  carat  cut  color  clarity  depth  table  price     x     y     z
0         1   0.23    0      0        0   61.5   55.0    326  3.95  3.98  2.43
1         2   0.21    1      0        1   59.8   61.0    326  3.89  3.84  2.31
2         3   0.23    2      0        2   56.9   65.0    327  4.05  4.07  2.31
3         4   0.29    1      1        3   62.4   58.0    334  4.20  4.23  2.63
4         5   0.31    2      2        0   63.3   58.0    335  4.34  4.35  2.75
...     ...    ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
9995   9996   1.00    3      0        0   63.5   56.0   4704  6.38  6.31  4.03
9996   9997   1.00    1      0        0   61.4   61.0   4704  6.41  6.36  3.92
9997   9998   1.00    1      0        0   61.1   58.0   4704  6.48  6.44  3.95
9998   9999   1.00    1      6        1   62.0   58.0   4704  6.41  6.29  3.94
9999  10000   1.00    4      6        1   64.9   59.0   4704  6.20  6.13  4.00

[10000 rows x 11 columns]

In [ ]:

X=data1.drop(['x','y','z','table','price'],axis=1)

In [ ]:
X

         sn  carat  cut  color  clarity  depth
0         1   0.23    0      0        0   61.5
1         2   0.21    1      0        1   59.8
2         3   0.23    2      0        2   56.9
3         4   0.29    1      1        3   62.4
4         5   0.31    2      2        0   63.3
...     ...    ...  ...    ...      ...    ...
9995   9996   1.00    3      0        0   63.5
9996   9997   1.00    1      0        0   61.4
9997   9998   1.00    1      0        0   61.1
9998   9999   1.00    1      6        1   62.0
9999  10000   1.00    4      6        1   64.9

[10000 rows x 6 columns]

In [ ]:
y=data1['price']
y

0        326
1        326
2        327
3        334
4        335
        ...
9995    4704
9996    4704
9997    4704
9998    4704
9999    4704
Name: price, Length: 10000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,shuffle=True)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
dia=LinearRegression()

In [ ]:
dia.fit(X_train,y_train)

LinearRegression()

In [ ]:
prediction=dia.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,prediction)

0.7948617117446742